.header, .input, .btn {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:chocolate;
    align-content: center;
    margin: 50px;
}
button{
    height: 5em;
    width: 10em;
    margin: 5em;
}
#button2{
    display: none;
}
